DATABASE_URL="<GET THIS FROM NEON>"
NEON_AUTH_BASE_URL="<CREATE YOUR OWN NEON AUTH ACCOUNT TO GET THE BASE URL IN CONNECTION>"
NEON_AUTH_COOKIE_SECRET="<openssl rand -base64 32>"
NEXT_PUBLIC_APP_URL="<BASE_URL>"